Package: centreon-nrpe3-plugin
Version: 3.2.1-1
Section: net
Priority: extra
Architecture: amd64
Depends: libc6 (>= 2.14), openssl
Installed-Size: 188
Maintainer: Eric Coquard <eric.coquard@gmail.com>
Description: Plug-in for Nagios monitoring system.
